.nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 104px 0 104px;
  justify-content: space-between;
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 24px;
  color: white;
  border-bottom: 1px solid red;
}

.nav__buttons {
  display: flex;
  justify-content: space-between;
}
.nav__home-btn {
  border: none;
  background-color: transparent;
  width: 64px;
  padding: 0;
  color: white;
}

.nav__home-btn:hover {
  cursor: pointer;
}

.nav__saved-articles-btn {
  border: none;
  background-color: transparent;
  width: 160px;
  padding: 0;
  color: white;
}

.nav__saved-articles-btn:hover {
  cursor: pointer;
}

.nav__sign-in-btn {
  border: 1px solid white;
  height: 40px;
  border-radius: 100px;
  background-color: transparent;
  width: 176px;
  color: white;
}

.nav__sign-in-btn:hover:hover {
  cursor: pointer;
}

.nav__user-btn {
  border: 1px solid white;
  height: 40px;
  border-radius: 100px;
  background-color: transparent;
  width: 112px;
  color: white;
}

.nav__user-btn:hover {
  cursor: pointer;
}

.nav_logo {
  border: none;
  margin: 0;
  font-family: "RobotoSlab-Bold";
  font-size: 20px;
  line-height: 24px;
}
